In [4]:
import pandas as pd
import requests as r

In [5]:
df = pd.read_csv('master.csv')
df

,Unnamed: 0,id,company,form,date,link,link2
0,19612156,1689923,"Alteryx, Inc.",DEFA14A,2020-04-08,edgar/data/1689923/0001689923-20-000017.txt,edgar/data/1689923/0001689923-20-000017-index....
1,19612691,1709542,CannAssist International Corp,10-K,2020-04-08,edgar/data/1709542/0001214659-20-003250.txt,edgar/data/1709542/0001214659-20-003250-index....
2,19605078,1413032,Columbia Funds Variable Series Trust II,497,2020-04-08,edgar/data/1413032/0001193125-20-100986.txt,edgar/data/1413032/0001193125-20-100986-index....
3,19605079,1413032,Columbia Funds Variable Series Trust II,497,2020-04-08,edgar/data/1413032/0001193125-20-100992.txt,edgar/data/1413032/0001193125-20-100992-index....
4,19620904,887194,LORD ABBETT RESEARCH FUND INC,485BPOS,2020-04-08,edgar/data/887194/0000930413-20-001022.txt,edgar/data/887194/0000930413-20-001022-index.html
...,...,...,...,...,...,...,...
19622492,7,885723,SEARS EQUITY INVESTMENT TRUST SELECTED OPPORTU...,24F-2NT,1993-07-13,edgar/data/885723/0000950162-93-000185.txt,edgar/data/885723/0000950162-93-000185-index.html
19622493,3,926688,SMITH THOMAS W,13F-HR,1993-05-14,edgar/data/926688/9999999997-05-015657.txt,edgar/data/926688/9999999997-05-015657-index.html
19622494,2,880794,MERRILL LYNCH LIFE VARIABLE ANNUITY SEPARATE A...,POS AMI,1993-04-28,edgar/data/880794/9999999997-05-050434.txt,edgar/data/880794/9999999997-05-050434-index.html
19622495,0,880794,MERRILL LYNCH LIFE VARIABLE ANNUITY SEPARATE A...,NSAR-B,1993-02-26,edgar/data/880794/9999999997-05-050433.txt,edgar/data/880794/9999999997-05-050433-index.html
19622496,1,926688,SMITH THOMAS W,13F-HR,1993-02-12,edgar/data/926688/9999999997-05-015654.txt,edgar/data/926688/9999999997-05-015654-index.html

In [6]:
ids = df.id.unique()
ids

array([1689923, 1709542, 1413032, ...,  797458,  800262,  885723])

In [7]:
gb = df.groupby('id')

In [9]:
gb.company[1709542]

IndexError: Column(s) company already selected

In [11]:
df[['id', 'company']]

AttributeError: 'DataFrame' object has no attribute 'unique'